<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.WhUsersMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.WhUsers">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="real_price" jdbcType="DECIMAL" property="realPrice" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="video_type" jdbcType="SMALLINT" property="videoType" />
    <result column="region_id" jdbcType="INTEGER" property="regionId" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="is_show_name_and_fans" jdbcType="INTEGER" property="isShowNameAndFans" />
    <result column="is_show_name" jdbcType="INTEGER" property="isShowName" />
    <result column="is_show_fans" jdbcType="INTEGER" property="isShowFans" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.macro.mall.model.WhUsers">
    <result column="head_image_url" jdbcType="LONGVARCHAR" property="headImageUrl" />
    <result column="descript" jdbcType="LONGVARCHAR" property="descript" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.additionalCondition == 3">
                  and ${criterion.value} #{criterion.secondValue}
                </when>
                <when test="criterion.additionalCondition == 5">
                  and ${criterion.condition} (${criterion.value}, #{criterion.secondValue})
                </when>
                <when test="criterion.additionalCondition == 6">
                  and ${criterion.condition} (#{criterion.secondValue}, ${criterion.value})
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
                <when test="criterion.additionalCondition == 3">
                  and ${criterion.value} #{criterion.secondValue}
                </when>
                <when test="criterion.additionalCondition == 5">
                  and ${criterion.condition} (${criterion.value}, #{criterion.secondValue})
                </when>
                <when test="criterion.additionalCondition == 6">
                  and ${criterion.condition} (#{criterion.secondValue}, ${criterion.value})
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, no, category_id, price, real_price, created_time, status, video_type, region_id, 
    updated_time, is_show_name_and_fans, is_show_name, is_show_fans
  </sql>
  <sql id="Blob_Column_List">
    head_image_url, descript, remark
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.macro.mall.model.WhUsersExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wh_users
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.macro.mall.model.WhUsersExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wh_users
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wh_users
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wh_users
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.WhUsersExample">
    delete from wh_users
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.WhUsers">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into wh_users (name, no, category_id, 
      price, real_price, created_time, 
      status, video_type, region_id, 
      updated_time, is_show_name_and_fans, is_show_name, 
      is_show_fans, head_image_url, descript, 
      remark)
    values (#{name,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{realPrice,jdbcType=DECIMAL}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{videoType,jdbcType=SMALLINT}, #{regionId,jdbcType=INTEGER}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{isShowNameAndFans,jdbcType=INTEGER}, #{isShowName,jdbcType=INTEGER}, 
      #{isShowFans,jdbcType=INTEGER}, #{headImageUrl,jdbcType=LONGVARCHAR}, #{descript,jdbcType=LONGVARCHAR}, 
      #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.WhUsers">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into wh_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="no != null">
        no,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="realPrice != null">
        real_price,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="videoType != null">
        video_type,
      </if>
      <if test="regionId != null">
        region_id,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="isShowNameAndFans != null">
        is_show_name_and_fans,
      </if>
      <if test="isShowName != null">
        is_show_name,
      </if>
      <if test="isShowFans != null">
        is_show_fans,
      </if>
      <if test="headImageUrl != null">
        head_image_url,
      </if>
      <if test="descript != null">
        descript,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="realPrice != null">
        #{realPrice,jdbcType=DECIMAL},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="videoType != null">
        #{videoType,jdbcType=SMALLINT},
      </if>
      <if test="regionId != null">
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isShowNameAndFans != null">
        #{isShowNameAndFans,jdbcType=INTEGER},
      </if>
      <if test="isShowName != null">
        #{isShowName,jdbcType=INTEGER},
      </if>
      <if test="isShowFans != null">
        #{isShowFans,jdbcType=INTEGER},
      </if>
      <if test="headImageUrl != null">
        #{headImageUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.WhUsersExample" resultType="java.lang.Long">
    select count(*) from wh_users
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wh_users
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.name != null">
        name = #{row.name,jdbcType=VARCHAR},
      </if>
      <if test="row.no != null">
        no = #{row.no,jdbcType=VARCHAR},
      </if>
      <if test="row.categoryId != null">
        category_id = #{row.categoryId,jdbcType=VARCHAR},
      </if>
      <if test="row.price != null">
        price = #{row.price,jdbcType=DECIMAL},
      </if>
      <if test="row.realPrice != null">
        real_price = #{row.realPrice,jdbcType=DECIMAL},
      </if>
      <if test="row.createdTime != null">
        created_time = #{row.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.status != null">
        status = #{row.status,jdbcType=INTEGER},
      </if>
      <if test="row.videoType != null">
        video_type = #{row.videoType,jdbcType=SMALLINT},
      </if>
      <if test="row.regionId != null">
        region_id = #{row.regionId,jdbcType=INTEGER},
      </if>
      <if test="row.updatedTime != null">
        updated_time = #{row.updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.isShowNameAndFans != null">
        is_show_name_and_fans = #{row.isShowNameAndFans,jdbcType=INTEGER},
      </if>
      <if test="row.isShowName != null">
        is_show_name = #{row.isShowName,jdbcType=INTEGER},
      </if>
      <if test="row.isShowFans != null">
        is_show_fans = #{row.isShowFans,jdbcType=INTEGER},
      </if>
      <if test="row.headImageUrl != null">
        head_image_url = #{row.headImageUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.descript != null">
        descript = #{row.descript,jdbcType=LONGVARCHAR},
      </if>
      <if test="row.remark != null">
        remark = #{row.remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update wh_users
    set id = #{row.id,jdbcType=BIGINT},
      name = #{row.name,jdbcType=VARCHAR},
      no = #{row.no,jdbcType=VARCHAR},
      category_id = #{row.categoryId,jdbcType=VARCHAR},
      price = #{row.price,jdbcType=DECIMAL},
      real_price = #{row.realPrice,jdbcType=DECIMAL},
      created_time = #{row.createdTime,jdbcType=TIMESTAMP},
      status = #{row.status,jdbcType=INTEGER},
      video_type = #{row.videoType,jdbcType=SMALLINT},
      region_id = #{row.regionId,jdbcType=INTEGER},
      updated_time = #{row.updatedTime,jdbcType=TIMESTAMP},
      is_show_name_and_fans = #{row.isShowNameAndFans,jdbcType=INTEGER},
      is_show_name = #{row.isShowName,jdbcType=INTEGER},
      is_show_fans = #{row.isShowFans,jdbcType=INTEGER},
      head_image_url = #{row.headImageUrl,jdbcType=LONGVARCHAR},
      descript = #{row.descript,jdbcType=LONGVARCHAR},
      remark = #{row.remark,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wh_users
    set id = #{row.id,jdbcType=BIGINT},
      name = #{row.name,jdbcType=VARCHAR},
      no = #{row.no,jdbcType=VARCHAR},
      category_id = #{row.categoryId,jdbcType=VARCHAR},
      price = #{row.price,jdbcType=DECIMAL},
      real_price = #{row.realPrice,jdbcType=DECIMAL},
      created_time = #{row.createdTime,jdbcType=TIMESTAMP},
      status = #{row.status,jdbcType=INTEGER},
      video_type = #{row.videoType,jdbcType=SMALLINT},
      region_id = #{row.regionId,jdbcType=INTEGER},
      updated_time = #{row.updatedTime,jdbcType=TIMESTAMP},
      is_show_name_and_fans = #{row.isShowNameAndFans,jdbcType=INTEGER},
      is_show_name = #{row.isShowName,jdbcType=INTEGER},
      is_show_fans = #{row.isShowFans,jdbcType=INTEGER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.WhUsers">
    update wh_users
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="realPrice != null">
        real_price = #{realPrice,jdbcType=DECIMAL},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="videoType != null">
        video_type = #{videoType,jdbcType=SMALLINT},
      </if>
      <if test="regionId != null">
        region_id = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isShowNameAndFans != null">
        is_show_name_and_fans = #{isShowNameAndFans,jdbcType=INTEGER},
      </if>
      <if test="isShowName != null">
        is_show_name = #{isShowName,jdbcType=INTEGER},
      </if>
      <if test="isShowFans != null">
        is_show_fans = #{isShowFans,jdbcType=INTEGER},
      </if>
      <if test="headImageUrl != null">
        head_image_url = #{headImageUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="descript != null">
        descript = #{descript,jdbcType=LONGVARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.macro.mall.model.WhUsers">
    update wh_users
    set name = #{name,jdbcType=VARCHAR},
      no = #{no,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      real_price = #{realPrice,jdbcType=DECIMAL},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      video_type = #{videoType,jdbcType=SMALLINT},
      region_id = #{regionId,jdbcType=INTEGER},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      is_show_name_and_fans = #{isShowNameAndFans,jdbcType=INTEGER},
      is_show_name = #{isShowName,jdbcType=INTEGER},
      is_show_fans = #{isShowFans,jdbcType=INTEGER},
      head_image_url = #{headImageUrl,jdbcType=LONGVARCHAR},
      descript = #{descript,jdbcType=LONGVARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.WhUsers">
    update wh_users
    set name = #{name,jdbcType=VARCHAR},
      no = #{no,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      real_price = #{realPrice,jdbcType=DECIMAL},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      video_type = #{videoType,jdbcType=SMALLINT},
      region_id = #{regionId,jdbcType=INTEGER},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      is_show_name_and_fans = #{isShowNameAndFans,jdbcType=INTEGER},
      is_show_name = #{isShowName,jdbcType=INTEGER},
      is_show_fans = #{isShowFans,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>